@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* @import "./base.css"; */

#app {
  max-width: 960px;
  margin: 0 auto;
  font-weight: normal;
}

/* input {
  @apply flex px-1 py-1;
  @apply rounded-sm border border-input;
  @apply bg-transparent shadow-sm transition-colors;
  @apply text-[16px] md:text-sm;

  @apply file:border-0 file:bg-transparent file:text-sm file:font-medium;
  @apply placeholder:text-muted-foreground;
  @apply focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring;
  @apply disabled:cursor-not-allowed disabled:opacity-50;
} */

input {
  @apply flex px-1 py-1;
  @apply rounded-sm border;
  @apply bg-transparent shadow-sm transition-colors;
  @apply text-[16px] md:text-sm;

  @apply file:border-0 file:bg-transparent file:text-sm file:font-medium;
  @apply disabled:cursor-not-allowed disabled:opacity-50;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    @apply p-2 overflow-y-scroll;
  }

  #app {
  }

  th,
  td {
    @apply text-left border-b p-2 whitespace-nowrap;
  }
}
